* {
    font-family: sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;

}

body{
    margin: 0;
}

body > section {
     margin: 150px auto;
}

body > section:nth-child(2){
    margin-bottom: 75px;
    margin-top: 25px;
}

body > section:last-child{
    margin-top: 75px;
    margin-bottom: 0px;
}


.nav{
   
    justify-content: center;
    align-items: center;
}
.content-container{
    max-width: 1120px;
    justify-content: center;
    padding: 0px 20px ;}


#app-logo{
    height: 40px;
    margin-right: 1em;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.row-centered{
    justify-content: center;
    align-items: center;
}

#app-title{

    font-weight: bold;
    font-size: 1.88em;
    line-height: 28px;
    color: #173A56;
}
.nav-bar-wraper{
    width: 100%;
    justify-content: space-between;
}

.nav-links-container > a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    line-height: 28px;
    color: #22343D;
    margin: 0 20px
}
.primary-button{
    background-color: #02897A;
    border-radius: 4px;
    height: 43px;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 25px;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}


.button-outlined{
    background-color: #FFFFFF;
    color: #173A56;
    border: 1px solid#173A56;

}
.buttons-nav{
    margin: 0 12px;
}
.theme{
    height:32px;
    width: 32px;
    border-radius: 50%;
    background-color: #F3F3F3;
    border:none;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}
.nav-bar-buttons-container{
    justify-content: flex-end;
}
.main-header{

    font-weight: bold;
    font-size: 2.5em;
    line-height: 60px;
    color: #22343D;
}
.content-right-col, .content-left-col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.subtitle{

    font-size: 1.13em;
    line-height: 28px;
    color:#22343D;
}
.first-section-right-col{
width: 100%;
height: auto;
pointer-events: none;

}
.button-link{
    color: #02897A;
    font-weight: 600;
    font-size: 16px ;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
}

#play-icon{ 
    height: 17px;
    margin-right: 9px;
}
.button-link-margin {
    margin-left: 30px;
}

#menu-icon {
    width: 28px;
    height: 31px;
    cursor: pointer;
}

.menu-icon{
    display: none;
}
#menu-colapse{
    display:none;
}

.section-3-row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;

}

.section-bg{
    background-image: url(./imagines/bckg-section3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: visible;

}

.section-3-row > h2 {
    font-weight: 700;
    font-size: 2em;
    line-height: 48px;
    text-align: center;
}

.section-row-4-cols{
    display: grid;
    grid-template-areas:
    'grid-col-1 grid-col-2 grid-col-3 grid-col-4';
    gap: 10px;
}

.section-row-4-cols-item1{
    grid-area: grid-col-1 ;
}
.section-row-4-cols-item2{
    grid-area: grid-col-2 ;
}
.section-row-4-cols-item3{
    grid-area: grid-col-3 ;
}
.section-row-4-cols-item4{
    grid-area: grid-col-4 ;
}

.section-row-4-cols h5 {
    font-size: 1.38em;
    font-weight: 600;
    line-height: 33px;
}

.section-row-4-cols > p{
    font-size: 1em;
    line-height:26px ;
}

.section-2-icon{
    height: 50px;
    width: 50px;
}

.section-row-4-cols > div {
    margin-top: 60px;
    margin-bottom: 30;
    justify-content: flex-start;
}

.section-2-col-item > h6 {
    font-weight: 600;
    font-size: 1em;
    line-height: 26px;
    text-align: center;
    margin: 20px 0 8px 0;
}
.section-2-col-item > h2 {
    margin: 0px;
}
 .section-4-items > p {
    font-size: 1.13em;
    line-height: 28px;
    color:#22343D;
    margin: 30px 0 30px 0;
 }
 .section-4-items > img{
    height: 38px;
    width: 38px;
    float: left;
    margin: 0px 15px 20px 0;
    display: flex;
    
 }

 .section-5{
    background-image: url(./imagines/Bg-section5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom;
    overflow: visible;

}

.para-cualites > p {
    font-size: 1.13em;
    line-height: 28px;
    color:#22343D;
    margin: 30px 0 30px 0;
    width: 70%;
    text-align: center;
    margin-right: 25px;
}

.para-cualites > h2{
        font-weight: 700;
        font-size: 2em;
        line-height: 48px;
        text-align: center;
}

.imagines-s5{
    width: 100px;
    height: 100px;
}

.icons-s5{
    width: 274px;
    height: 70px;
}

.action-spaceb-s5 :nth-child(2) {
    margin:0 120px 0 0;
}

.section7-imgs > img {
    width: 348px;
    height: 359px;
    margin: 0 27px 30px 0;
}

.section7-button{
    width: 68px;
    height: 16px;
    cursor: pointer;
    margin-top: 70px;
}

.section8-imgines-items{
    width: 330px;
    height: 460px;
    margin: 37px 40px 20px 0;
}

.section9-photos{
    width: 327px;
    height: 236px;
    margin: 37px 40px 20px 0;

}
.section9 > p{
    width: 50%;
}
.s10-photo{
    width: 1100px;
    height: 345px;
}









@media screen and (max-width:890px){ */
    .menu-icon{
        display:  flex;
    }  

    .nav-bar-wraper > .nav-bar-buttons-container{
        position: absolute;
        width: 100%;
        top:80px;
        left:0;
        right:0;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 8px 6px 7px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow-y: hidden;
        transition: all 0.5 ease-in-out;
    }

    .nav-bar-buttons-container > .nav-links-container > .a{
        display: block;
        width: 100%;
        padding: 5px 0px;
    }

    .section-row-4-cols{
        grid-template-areas:
        'grid-col-1'
        'grid-col-2'
        'grid-col-3'
        'grid-col-4';
        gap: 0px;
        margin: 0px;
    }

    .section-row-4-cols > div {
        margin:0;
        justify-content: flex-start;
    }
}

@media screen and (max-width:850px){
    .section-row-4-cols{
        grid-template-areas:
        'grid-col-1 grid-col-2'
        'grid-col-3 grid-col-4';
        gap: 30px;
    }

    .section-row-4-cols > div {
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.nav-bar-buttons-container > .action-buttons-wraper{
     margin:  5px 0px;
}

.nav-bar-buttons-container > .action-buttons-wraper > button{
    padding:  5px 0px;
    flex-direction: column;
}

.nav-bar-buttons-container > .nav-links-container > .a:hover {
    text-decoration: underline;
}

.nav > #menu-colapse:not(:checked) ~ .nav-bar-wraper >  .nav-bar-buttons-container {

    height:0 ;

}

.nav > #menu-colapse:checked ~ .nav-bar-wraper >  .nav-bar-buttons-container{

    max-height: 100vh;
    height: auto;
    padding:20px 10px;

}

@media screen and ( max-width: 600px) {
      .section-2-col{
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
      }

      .section-2-col-item{
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        text-align: center;

      }

      .section-row-4-cols > div {
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
